<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibale" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Project | Detecting Pneumonia from Chest X-rays</title>

    <!-- CSS files -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color-1.css') }}" >
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/4c265cdcbb.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="header projects">
        
        <!-- main-container start -->
        <div class="container">

        <nav>

            <a href="{{ url_for('home') }}#home"><img src="{{ url_for('static', filename='images/logo-new.png') }}" class="logo"></a>
            <ul id="sidemenu">
                <li><a href="{{ url_for('home') }}#home">Home</a></li>
                <li><a href="{{ url_for('home') }}#about"></i>About</a></li>
                <li><a href="{{ url_for('home') }}#services"></i>Services</a></li>
                <li><a href="{{ url_for('portfolio') }}"></i>Portfolio</a></li>
                <li><a href="{{ url_for('home') }}#contact"></i>Contact</a></li>
                <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
    </div>
</div>

<!-- --------- Portfolio ---------  -->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">Detecting Pneumonia from Chest X-rays</h1>
        <h2 class="pending">Status : Model building on going</h2>
        <div class="row">

            <div class="col-md-6">
                <p>Detecting Pneumonia from Chest X-rays is a deep learning technique for identifying the presence of pneumonia in chest X-ray images. Pneumonia is a serious respiratory infection that can be life-threatening, and early detection is crucial for effective treatment.</p>
                <div class="col-lg-8 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/img-xray-02.jpg') }}">
                  </div>
                <p>project uses deep learning algorithms to analyze chest X-ray images and identify signs of pneumonia. The algorithm is trained on a large dataset of chest X-ray images, both with and without signs of pneumonia. The algorithm analyzes these images to identify patterns and features that are indicative of pneumonia.</p>
                <p>The accuracy of the algorithm depends on the quality and relevance of the training data, as well as the performance of the deep learning model. Therefore, it is important to use high-quality, labeled data and to continually optimize and update the model to improve its performance.</p>
                <p>The use of deep learning algorithms for detecting pneumonia from chest X-rays has the potential to improve the accuracy and efficiency of diagnosis, allowing healthcare professionals to provide timely and effective treatment for patients. However, it is important to note that the algorithm is a tool to assist healthcare professionals in making a diagnosis and should not be used as a substitute for clinical judgment.</p>
               </div>

               <div class="col-md-6">
                <form action="upload" method="post" enctype="multipart/form-data">
                  <div class="form-row">
                    <div class="col-12 mb-2 mb-md-0 d-flex justify-content-center">
                      <!-- <input class="btn btn-primary btn-lg" type="file" name="file" id="inputFile1"> -->
                    </div> 
                    <div class="col-12 mt-3 d-flex justify-content-center">
                      <!-- <input class="btn btn-success btn-lg" type="submit" value="Upload Image"> -->
                    </div>
                  </div>
                </form>
                <br>
                <div class="col-lg-8 d-flex justify-content-center">
                  <img id="imagen"><br/>
                </div>
              </div>
          </div>

        </div>
        </div>


    <div id="portfolio">
        <div class="container">      
        <!-- <div class="small-container">
            <div class="row row-2"> --> 
                <h2 class="sub-title-1">Other Projects</h2>
            <!-- </div>
        </div>
         -->
        <div class="work-list">
            <div class="work">
                <img src="{{ url_for('static', filename='images/img-detect.jpeg') }}" >
                <div class="layer">
                    <h3>Object detection</h3>
                    <p>Object detection is a powerful tool with a wide range of applications.
                        The process involves training a machine learning algorithm on a dataset of
                        labeled images, and then using the algorithm to identify objects within new,
                        unlabeled images or videos. </p>
                        <a href="{{ url_for('image_detect') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/my-works-05.jpg') }}" >
                <div class="layer">
                    <h3>Stock Price Prediction</h3>
                    <p>Stock price prediction is the use of machine learning algorithms to analyze historical stock data and make predictions about future stock price movements.
                        A machine learning model is trained on a dataset of historical stock data and tested to evaluate its accuracy.
                        Once trained, the model can be used to make predictions about future stock prices to help investors make informed decisions.</p>
                        <a href="{{ url_for('stock_prediction') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/img-face-prediction-01.jpeg') }}" >
                <div class="layer">
                    <h3>Face Expression Recognizer</h3>
                    <p>Face Expression Recognition using deep learning is a technique that allows computers
                        to automatically recognize facial expressions of individuals, such as happiness, sadness, anger, or surprise.
                        It has numerous applications in fields such as psychology, entertainment, security, and marketing.</p>
                        <a href="{{ url_for('face_recognize') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
            </div>
        </div>
    </div>
</div>




<!-- ------- footer -------  -->

<div class="copyright">
    <hr>
        <ul>
            <div class="social-icons">
                <a href="https://www.facebook.com/wajidmohamed.wajid?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/invites/contact/?i=14a6021l32mkc&utm_content=3issvjw"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abdul-wajid-28678519a"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </ul>
    <p>"Copyright © Wajith 2022. All rights reserved."</p>
</div>

   
    <!--JS files-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
     
    
</body>

</html>