<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibale" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Portfolio | WAJITH</title>

    <!-- CSS files -->
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ url_for('static', filename='images/logo-new.png') }}"
/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color-1.css') }}" >
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/4c265cdcbb.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <div id="header">
        
        <!-- main-container start -->
        <div class="container">

        <nav>
            <a href="#header"><img src="{{ url_for('static', filename='images/logo-new.png') }}" class="logo"></a>
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about"></i>About</a></li>
                <li><a href="#services"></i>Services</a></li>
                <li><a href="#portfolio"></i>Portfolio</a></li>
                <li><a href="#contact"></i>Contact</a></li>
                <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>

        <div class="header-text">
            <h1>Hello, I'm <span class="auto-type"></span></h1>
            <p>Turning data into insights and solutions as a Data Scientist.</p>
            <a href="#" class="btn">AI Voice Assistant <i class="fa-solid fa-arrow-up-right-from-square"></i><p>(available Soon)</p></a>
            
        </div>
        <div class="img-box">
            <img src="{{ url_for('static', filename='images/background.png') }}" class="back-img">
            <img src="{{ url_for('static', filename='images/home-new.png') }}" class="main-img">
        </div>
        </div>
    </div> 
<!-- ----------- About ---------- -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="{{ url_for('static', filename='images/IMG-7.jpg') }}" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p class="auto-type-about"></p>
                    
                    <div class="tab-title">
                            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                            <p class="tab-links" onclick="opentab('experience')">Experience</p>
                            <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div> 
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Programming Language</span><br>Python, R</li>
                            <li><span>Web development</span><br>(HTML, CSS, JS, Flask, NodeJS)</li>
                            <li><span>Database</span><br>SQL, NoSQL & Elasticsearch</li>
                            <li><span>Visualization</span><br>Power BI & Tableau</li>
                            <!-- <li><span>IT skills</span><br>MS Offices, Advanced excel & Data mining (WEKA)</li> -->
                            
                        </ul>

                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>May-2022 - Current</span><br>Associate Data Scientist</li>
                            <li><span>Dec-2021 - May-2022</span><br>Business Analyst intern</li>
                        </ul>

                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2021</span><br>BBSc (Hons) in Business Analytics</li>
                        </ul>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- ---------- Services ---------- -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-sharp fa-solid fa-magnifying-glass-chart"></i>
                    <h2>AI Insights</h2>
                    <p>A service that uses artificial intelligence to provide insights and recommendations for businesses. 
                        This could include things like market analysis, 
                        customer behavior analysis, and predictive modeling.</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Smart Solutions</h2>
                    <p> A service that provides customized machine learning and AI solutions to help businesses improve their operations and decision making. 
                        This could include things like automated workflow processes, predictive maintenance, and personalized recommendations.</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-chart-pie"></i>
                    <h2>Predictive Analytics</h2>
                    <p>predictive modeling is a statistical technique using machine learning and data mining to 
                        predict a service that uses machine learning and AI to forecast future trends and outcomes for businesses. 
                        This could include things like sales forecasting, risk assessment, and demand forecasting.</p>
                    <a href="#">Learn more</a>
                </div>

            </div>
        </div>
    </div>

<!-- --------- Portfolio ---------  -->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="work-list">
            <div class="work">
                <img src="{{ url_for('static', filename='images/img-detect.jpeg') }}" >
                <div class="layer">
                    <h3>Object detection</h3>
                    <p>Object detection is a powerful tool with a wide range of applications.
                        The process involves training a machine learning algorithm on a dataset of
                        labeled images, and then using the algorithm to identify objects within new,
                        unlabeled images or videos. </p>
                        <a href="{{ url_for('image_detect') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/my-works-05.jpg') }}" >
                <div class="layer">
                    <h3>Stock Price Prediction</h3>
                    <p>Stock price prediction is the use of machine learning algorithms to analyze historical stock data and make predictions about future stock price movements. 
                        A machine learning model is trained on a dataset of historical stock data and tested to evaluate its accuracy. 
                        Once trained, the model can be used to make predictions about future stock prices to help investors make informed decisions.</p>
                        <a href="{{ url_for('stock_prediction') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/img-face-prediction-01.jpeg') }}" >
                <div class="layer">
                    <h3>Face Expression Recognizer</h3>
                    <p>Face Expression Recognition using deep learning is a technique that allows computers
                        to automatically recognize facial expressions of individuals, such as happiness, sadness, anger, or surprise.
                        It has numerous applications in fields such as psychology, entertainment, security, and marketing.</p>
                        <a href="{{ url_for('face_recognize') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
            </div>
        </div>
        <a href="{{ url_for('portfolio') }}" class="btn">See more</a>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div> -->
    </div>
</div>

<!-- ------- contact -------  -->

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-envelope"></i> azeeswajid@gmail.com</p>
                <p><i class="fa-solid fa-square-phone"></i> +9471 959 3829</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/wajidmohamed.wajid?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/invites/contact/?i=14a6021l32mkc&utm_content=3issvjw"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/abdul-wajid-28678519a"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <a href="/static/images/resume.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>"Copyright © Wajith 2022. All rights reserved."</p>
    </div>
</div>


   
    <!--JS files-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Abdul Wajith.", "Data Scientist",  "ML Engineer"],
            typeSpeed: 150,
            backSpeed: 150,
            loop: true
        })
    </script>

    <script>
        var typed = new Typed(".auto-type-about", {
            strings: ["I have more than one year of experience in turning data into business solutions, looking forward to step into new career which provide a learning environment and be a better platform to apply my skills and enhance my knowledge."],
            typeSpeed: 20,
            loop:false,
            showCursor: false
        })
    </script>
    
</body>

</html>